h1{color: darkred;background-color: floralwhite;}
ul{color: green;}
ol{color: mediumblue;}
footer{font-style: italic;}
p{color: rgb(187, 69, 118); text-align:start;}
h3{color: darkred;background-color: floralwhite;}
